.history
.cache
.classpath
.project
.settings/
*.class
*.log
bin/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.idea/
.idea_modules/
.DS_Store
project/.bloop/
project/project/